div, span {
    width: 80px;
    height: 80px;
    margin: 20px;
}
/*
div {
    background-color: red;
    display : inline-block; /* inline 은 컨텐츠 자체만을 꾸며주는 것임
    그래서 위에 div, span 에서 정의한 것은 무시하고 컨텐츠 크기에 따라 변경됨.
    inline-block은 컨텐츠에 상간없이 위에 정의된 박스형태로 변화됨
    inline 은 물건이고 inline-block은 상자인데 한줄에 들어갈 수 있는 상자라고 생각하면 됨
}
*/

span {
    background-color: blue;
    display: block;
}